/*body{
	background-color: #FF570A;
	font-family: Century Gothic;
	font-weight: 600;
	font-size: 16pt;
	color: #FDFFFC;
}
.registration{
	margin: 0;
   position: absolute;
   top: 30%;
   left:40%;
}
*/

* {
    box-sizing: border-box;
}
body {
    background: #FC7A57;
}
.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}
.form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #FC7A57;
    border-radius: 20px;
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 60px;
    right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}
.form-inner {
    padding: 50px;
}
.form-inner input {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
.form-inner input[type="submit"]:hover {
    animation: bounce 1s;
}

.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #454545;
}
.form-inner h4 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #707981;
    margin: auto;
}
.form-inner input[type="date"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #707981;
}
p {
    position: relative;
    height: 44px;
    line-height: 44px;
    max-width: 400px;
    text-align: center;
    margin: 30px auto;
    background: white;
    border-radius: 30px;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #d87d56;
    border-bottom: 3px solid #d87d56;
}
